<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/adding-challenges"></ion-back-button>
    </ion-buttons>
    <ion-title>{{challenge.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="updateChallenge()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="challenge.challengeDate && challenge.challengeDate > challenge.todaysDate; else disabled">
    <ion-text>
      <p>This challenge is not available before {{challenge.challengeDate}}</p>
    </ion-text>
  </ion-grid>
  <ng-template #disabled>
    <ion-grid *ngIf="challengeUpdate == validation, else completed">  
     
      <ion-row>
        <ion-col>
          <ion-img [src]="challenge.imageURL" class="gif_sizing, ion-no-padding"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center">
            {{challenge.title}}
          </h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="ion-text-center">
            {{challenge.description}}
          </p>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-button  expand="full" color="success" (click)="updateChallenge()" [disabled]="disableButton">Done! </ion-button>
      </ion-list>
    </ion-grid>
    <ng-template #completed>
      <ion-text>
        <p>You already completed this challenge</p>
      </ion-text>
    </ng-template>

  </ng-template>
</ion-content>
