<ion-header no-border>
  <div class="login-header ion-padding">
    <img src="assets/icon/gimandes-logo.png" alt="" class="logo-img"> 
  </div>

</ion-header>

<ion-content>
  <div class="center"*ngIf="view == true; else signin"> 
    <div heading-column-1r>
      <h1 big-heading>Login</h1>
      <h2 small-heading (click)="changeView()">SIGN UP </h2>
    </div>
    <ion-label>
      Welcome to our house fun training, the app you will use to get in shape and have fun. 
    </ion-label>
    
    
    
    <ion-item transparent>
      <ion-icon name="happy-outline"></ion-icon>
      <ion-input [(ngModel)]="this.studentGrade" placeholder="Your grade"></ion-input>
    </ion-item>
    
    <ion-item transparent>
      <ion-icon name="bag-outline"></ion-icon>
      <ion-input [(ngModel)]="this.studentPassword" placeholder="Your password"></ion-input>
    </ion-item>

    <div linespace></div>  
    <ion-button  class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="createChallenge()">LOGIN</ion-button>
    <ion-label   class="ion-text-center signLogin"> Don't have an account? <span class="link-button" (click)="changeView()">Sign up</span>
   </ion-label>
  </div>
  <ng-template #signin>
    
    <div  class="center">
      <div heading-column-1r>
        <h1 big-heading>SIGN UP</h1>
        <h2 small-heading (click)="changeView2()">Log in</h2>
      </div>
      <ion-label>
        Welcome to our house fun training, the app you will use to get in shape and have fun. 
      </ion-label>
      
      <ion-item transparent>
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-input [(ngModel)]="this.studentName" placeholder="Your name"></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-icon name="bookmark-outline"></ion-icon>
        <ion-input [(ngModel)]="this.studentCode" placeholder="Your code"></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-icon name="happy-outline"></ion-icon>
        <ion-input [(ngModel)]="this.studentGrade" placeholder="Your grade"></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-icon name="bug-outline"></ion-icon>
        <ion-item>
          <ion-label class="mascoSelection">Mascot</ion-label>
          <ion-select [(ngModel)]="this.studentHouse" value="Falcon" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="Sparrow">Sparrow (PLA)</ion-select-option>
            <ion-select-option value="Hummingbird">Hummingbird (Infantyle)</ion-select-option>
            <ion-select-option value="Condor">Condor (Intermediate)</ion-select-option>
            <ion-select-option value="Owl">Owl (Prejuvenil)</ion-select-option>
            <ion-select-option value="Falcon">Falcon (Juvenil)</ion-select-option>
            <ion-select-option value="Eagle">Eagle(Especializado)</ion-select-option>           
          </ion-select>
        </ion-item>
      </ion-item>
      <ion-item transparent>
        <ion-icon name="bag-outline"></ion-icon>
        <ion-input [(ngModel)]="this.studentPassword" placeholder="Your password"></ion-input>
      </ion-item>
  
      <div linespace></div>  
      <ion-button  class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="createChallenge()">SIGN UP</ion-button>
    </div>

  </ng-template>

  <ion-button expand="full" (click)="setItem()">Add to storage</ion-button>
  
</ion-content>
