<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/adding-challenges"></ion-back-button>
    </ion-buttons>
    <ion-title>
      OUR HOUSE FUN TRAINING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button  expand="full" color="secondary" (click)="presentActionSheet()">Filter by mascot </ion-button>
    <ion-list>
      <h1 class="paragrapghInfor">The number of challenges completed by the {{this.mascotSelection}} team is {{sum}}</h1>
     <ion-card *ngFor="let position of positions">
     <ion-card-content>
        <p>{{position.name}}</p>
        <p>{{position.completed}}</p>
     </ion-card-content>
    </ion-card>
    <ion-card >     
      <ion-card-content class="results" *ngIf='sum > 0'>
        <p class="paragrapghInfor">The total of challenges completed by the team {{this.mascotSelection}} is  {{sum}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>

<!-- Footer -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <img src="assets/icon/final_logo.png" alt="" class="logo-img"  width = "46" height = "40"> 
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
