<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/adding-challenges"></ion-back-button>
    </ion-buttons>
    <ion-title>
      OUR HOUSE FUN TRAINING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button  expand="full" color="secondary" (click)="presentActionSheet()">Filter by mascot </ion-button>
    <ion-list>
     <ion-card *ngFor="let position of positions">
     <ion-card-content>
        <p>{{position.name}}</p>
        <p>{{position.completed}}</p>
     </ion-card-content>
    </ion-card>
    <ion-card >     
      <ion-card-content *ngIf='sum > 0'>
        <p>The total of challenges completed by this house is  {{sum}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>